
body {
    background-color: rgb(241, 226, 206);
    text-align: center;
    color:rgb(116, 101, 82)
}
.nav {
    list-style-type: none;
    background-color: rgb(218, 200, 178);
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.nav li {
    float:left;
}
ul.nav li a {
    display: block;
    padding: 16px 32px;
    color: rgb(116, 101, 82);
    text-decoration: none;
    font-size: xx-large;
}
ul.nav a:hover {
    background-color: rgb(145, 129, 108);
    color: white;
}
.active {
    background-color: rgb(241, 226, 206);
}

.border {
    border-radius: 25px;
    border: 2px solid rgb(145, 129, 108);
    align-items: center;
}

